h1 {
  color: black;
  font-family: courier;
  font-size: 160%;
}
p  {
  color: green;
  font-family: courier;
  font-size: 100%;
}

.temperature{
  background-color: powderblue;
  color: black;
  padding: 10px;

}

.up{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.up:hover {background-color: #f44336}

.up:active {
  background-color: #b22222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

.down{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1e90ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.down:hover {background-color: #87cefa}

.down:active {
  background-color: #87cefa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

.reset{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3cb371;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.reset:hover {background-color: #3cb371}

.reset:active {
  background-color: #90ee90;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

.errormessages{
  background-color: red;
  color: black;
  padding: 10px;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
