body {
  display: flex;
  background-color: black;
  color: white;
  font-family: 'Cinzel', serif;
}
.middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  height: 1110px;
  background-size: cover;
  background-repeat:no-repeat;
  background-image: url('https://dynamicmedia.zuza.com/zz/m/original_/7/5/7572ce24-610e-40ce-bfef-ca4279a78d10/B821574982Z.1_20140403071627_000_G6J17B5DF.2_Gallery.jpg')
}
.left{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;


}

.right{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.title{
  font-size: 75px;
  color: white;
  text-shadow: 3px 3px 4px #d6a533;
}

.errormessages{
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 4px #d6a533;
}

.temp{
  display: flex;
  font-weight: bold;
  font-size: 60px;
  color: #f4a142;
  text-shadow: 3px 3px 4px black;
}

.GIF-frozen{
  height: 370px;
  width: 675px;
  position: absolute;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  margin-top: 580px;
  left: 0;
  right: 0;
  background-image: url('https://cdn-images-1.medium.com/max/1600/1*zyYiHYZlMvKLRaFZXellAQ.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.GIF-hot{
  height: 370px;
  width: 675px;
  position: absolute;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  margin-top: 580px;
  left: 0;
  right: 0;
  background-image: url('https://media.giphy.com/media/keHXXl6f5Jrr2/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  height:100px;
  width:200px;
  background-color: #f4a142;
  font-family: 'Cinzel', serif;
  color: black;
  border: 1px solid #f4a142;
  font-size: 40px;
  text-shadow: 1px 1px 4px black;
  border-radius: 10%;
}
